.clsSelectBtnsWrapper {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
    margin-bottom: 5rem;
  }
  
  .clsSelectBtn {
    margin: 0 0.5rem;
    border-radius: 20px;
    padding: .5rem 1rem;
    background-color: var(--color-orange-primary);
    color: var(--color-gray-100);
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
  }
  
  .clsSelectBtn:hover {
    background-color: var(--color-gray-700);
    transform: scale(1.05) translateY(-.2rem);
    
  }
  
  .clsSelectBtn:active {
    
    transform: scale(1.05) translateY(.2rem);
    
  }

  .dialogOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.dialogContent {
    background: var(--color-orange-primary);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}