.clsSelectBtnsWrapper {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
    margin-bottom: 5rem;
  }
  
  .clsSelectBtn {
    margin: 0 0.5rem;
    border-radius: 20px;
    padding: .5rem 1rem;
    background-color: var(--color-orange-primary);
    color: var(--color-gray-100);
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
  }
  
  .clsSelectBtn:hover {
    background-color: var(--color-gray-700);
    transform: scale(1.05) translateY(-.2rem);
    
  }
  
  .clsSelectBtn:active {
    
    transform: scale(1.05) translateY(.2rem);
    
  }

  

  .dialogOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index:10;
    
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}

.dialogContent {
  border-bottom: .5rem solid var(--color-orange-primary);
    /* background-image: linear-gradient(to bottom right, var(--color-gray-50), var(--color-blue-dark)); */
    background-image: linear-gradient(to bottom right, var(--color-green-primary), var(--color-blue-dark), var(--color-green-dark));
    
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index:100;
    color: var(--color-gray-900);
    font-family: 'Noto Serif Khojki', serif; /* Apply Noto Serif Khojki font */

    min-width: 70%;
    width: 80%;
    max-width: 30rem;
    max-height: 80%;
    overflow-y: scroll;
    margin: 0 auto;

   
}

/* Custom scrollbar for WebKit browsers */
.dialogContent::-webkit-scrollbar {
    width: 12px; /* Width of the scrollbar */
}

.dialogContent::-webkit-scrollbar-track {
    background: var(--color-gray-200); /* Background of the scrollbar track */
    border-radius: 10px; /* Rounded corners for the track */
}

.dialogContent::-webkit-scrollbar-thumb {
    background: var(--color-blue-light); /* Color of the scrollbar thumb */
    border-radius: 10px; /* Rounded corners for the thumb */
}

.dialogContent::-webkit-scrollbar-thumb:hover {
    background: var(--color-orange-dark); /* Color of the thumb on hover */
}

/* Custom scrollbar for Firefox */
.dialogContent {
    scrollbar-width: thin; /* Options: auto | thin */
    scrollbar-color: var(--color-blue-light) var(--color-gray-200); /* thumb color and track color */
}

.nameAndCloseWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.closeBtn {
  background-color: var(--color-gray-50);
  width: 40px; 
  height: 40px; 
  position: sticky;
  top: .25rem;
  
  cursor: pointer; 
    font-size: 1.25rem;
   
    
    cursor: pointer;
    border: none;
    border-radius: 50%;
    color: var(--color-gray-900);
}

.nameAndInfoboxAndGradesChartWrapper {
  
  width: 50%;
  margin-bottom: 5rem;  
}


.playerName {
  font-size: 3rem;
  letter-spacing: .2rem;
  text-align: center;
  /* margin: 1rem 0; */
  margin: 0 auto ;
  color: var(--color-orange-primary);
  font-weight: 400;
}

.infoBox {
  margin-bottom: 2rem;
  text-align: center;
  margin: 0 0 .5rem .5rem;
  font-size: 1rem;
  letter-spacing: .05rem;
}

.chartsWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  max-width: 50%;
  margin: 2rem auto;
}

.prospectGradesChart {
  margin-right: 4rem;
  margin-left: 4rem;
  margin-top: 2rem;
 
}

.breakdownAndDataTablesWrapper {
  display: flex;
}

.BreakdownHeading {
  text-align: center;
  
  font-size: 1.5rem;
  letter-spacing: .05rem;
  color: var(--color-orange-primary);
}

.breakdown {
  margin: 2rem auto;
  line-height: 1.5rem;
  font-size: 1.1rem;
  letter-spacing: .075rem;
  /* color: var(--color-gray-800); */
  color: var(--color-gray-800);
  max-width: 80%;
}

.tablesContainer {
    /* display: flex;
    flex-wrap: wrap; 
    justify-content: center; 
    align-items: center;
    flex-direction: column; */
    text-align: center;
    letter-spacing: .05rem;
    width: 50%;
    color: var(--color-white);
    font-size: .8rem;
    margin-right: 2rem;
}

.tableWrapper {
    /* flex: 1 1 45%; 
    margin: 0 0.5rem; 
    text-align: center;
    justify-content: center;
    padding: .5rem; */

    flex: 1 1 50%;
    align-items: center;
        margin: 4rem auto; 
      
}

@media (max-width: 700px) {
    .tableWrapper {
        flex: 1 1 100%; /* Stack tables to take full width on small screens */
        margin: 0; /* Remove margin on small screens */
    }
}

.table {
    width: 100%; /* Ensure the table takes full width */
    border-collapse: collapse; /* Collapse borders for a cleaner look */
}

.tableCell {
    padding: 1rem; /* Add padding to table cells */
    text-align: left; /* Align text to the left */
    border: 1px solid var(--color-gray-300); /* Optional: Add border for better visibility */
}

.heading {
    margin-bottom: 1rem; /* Add 1rem bottom margin to headings */
}

.videoContainer {
    display: flex;
    flex-wrap: wrap; /* Allow items to wrap to the next line */
    justify-content: space-between; /* Space between items */
    margin-top: 1rem; /* Add some space above */
}

.videoWrapper {
    flex: 0 1 calc(50% - 1rem); /* Two columns, each taking up half the width minus margin */
    margin-bottom: 1rem; /* Space between video players */
}

@media (max-width: 1000px) {
    .videoWrapper {
        flex: 0 1 80%; /* Single column, each taking up 80% of the width */
        margin: 0 auto; /* Center the video wrapper */
    }
}

.dialogContainer {
    display: flex;
    flex-direction: column;
}

.compareContainer {
    margin-bottom: 20px;
}

.playerDialogs {
    display: flex;
    justify-content: space-between; /* Adjusts spacing between player dialogs */
}

.playerDialog {
    flex: 1; /* Each dialog takes equal space */
    margin: 0 10px; /* Space between dialogs */
    padding: 10px;
    border: 1px solid #ccc; /* Optional border */
    border-radius: 5px; /* Optional rounded corners */
}

.chartWrapper {
    display: flex; /* Hide by default */
}

@media (min-width: 800px) {
    .chartWrapper {
        display: block; /* Show on larger screens */
        margin-left: 20px; /* Add some space between elements */
    }

    .infoBox {
        display: flex;
        flex-direction: column; /* Stack info box items vertically */
    }
}

.playerCardsWrapper {
    display: flex;
    justify-content: space-between; /* Space between the cards */
}

.playerCard {
    width: 48%; /* Adjust width to fit two cards */
    padding: 10px; /* Add some padding */
    border: 1px solid #ccc; /* Optional: Add a border */
    border-radius: 5px; /* Optional: Add rounded corners */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Optional: Add shadow */
}

