.clsSelectBtnsWrapper {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
    margin-bottom: 5rem;
  }
  
  .clsSelectBtn {
    margin: 0 0.5rem;
    border-radius: 20px;
    padding: .5rem 1rem;
    background-color: var(--color-orange-primary);
    color: var(--color-gray-100);
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
  }
  
  .clsSelectBtn:hover {
    background-color: var(--color-gray-700);
    transform: scale(1.05) translateY(-.2rem);
    
  }
  
  .clsSelectBtn:active {
    
    transform: scale(1.05) translateY(.2rem);
    
  }

  

  .dialogOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index:10;
    
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.dialogContent {
  border-bottom: .5rem solid var(--color-orange-primary);
    background-image: linear-gradient(to bottom right, var(--color-gray-50), var(--color-blue-dark));
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index:100;
    color: var(--color-gray-900);

    min-width: 70%;
    max-width: 80%;
    max-height: 80%;
    overflow-y: scroll;
    margin: 0 auto;
}

/* Custom scrollbar for WebKit browsers */
.dialogContent::-webkit-scrollbar {
    width: 12px; /* Width of the scrollbar */
}

.dialogContent::-webkit-scrollbar-track {
    background: var(--color-gray-200); /* Background of the scrollbar track */
    border-radius: 10px; /* Rounded corners for the track */
}

.dialogContent::-webkit-scrollbar-thumb {
    background: var(--color-blue-light); /* Color of the scrollbar thumb */
    border-radius: 10px; /* Rounded corners for the thumb */
}

.dialogContent::-webkit-scrollbar-thumb:hover {
    background: var(--color-orange-dark); /* Color of the thumb on hover */
}

/* Custom scrollbar for Firefox */
.dialogContent {
    scrollbar-width: thin; /* Options: auto | thin */
    scrollbar-color: var(--color-blue-light) var(--color-gray-200); /* thumb color and track color */
}

.nameAndCloseWrapper {
  display: flex;
  justify-content: space-between;
  
}

.closeBtn {
  background-color: var(--color-gray-50);
    font-size: 1.25rem;
    padding: .5rem 1rem;
    cursor: pointer;
    border: none;
    border-radius: 40px;
    color: var(--color-gray-900);
}

.playerName {
  font-size: 2rem;
  letter-spacing: .1rem;
}

.infoBox {
  margin-bottom: 2rem;
}

.breakdown {
  margin: 2rem auto;
  line-height: 1.5rem;
  font-size: 1rem;
  letter-spacing: .05rem;
  color: var(--color-gray-800);
  max-width: 80%;
}