.clsSelectBtnsWrapper {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
    margin-bottom: 5rem;
  }
  
  .clsSelectBtn {
    margin: 0 0.5rem;
    border-radius: 20px;
    padding: .5rem 1rem;
    background-color: var(--color-orange-primary);
    color: var(--color-gray-100);
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
  }
  
  .clsSelectBtn:hover {
    background-color: var(--color-gray-700);
    transform: scale(1.05) translateY(-.2rem);
    
  }
  
  .clsSelectBtn:active {
    
    transform: scale(1.05) translateY(.2rem);
    
  }

  

  .dialogOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index:10;
    
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;

    
}

.dialogContent {
  border-bottom: .5rem solid var(--color-orange-primary);
    background-image: linear-gradient(to bottom right, var(--color-gray-50), var(--color-blue-dark));
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index:100;
    color: var(--color-gray-900);

    min-width: 70%;
    max-width: 80%;
    max-height: 80%;
    overflow-y: scroll;
    margin: 0 auto;

   
}

/* Custom scrollbar for WebKit browsers */
.dialogContent::-webkit-scrollbar {
    width: 12px; /* Width of the scrollbar */
}

.dialogContent::-webkit-scrollbar-track {
    background: var(--color-gray-200); /* Background of the scrollbar track */
    border-radius: 10px; /* Rounded corners for the track */
}

.dialogContent::-webkit-scrollbar-thumb {
    background: var(--color-blue-light); /* Color of the scrollbar thumb */
    border-radius: 10px; /* Rounded corners for the thumb */
}

.dialogContent::-webkit-scrollbar-thumb:hover {
    background: var(--color-orange-dark); /* Color of the thumb on hover */
}

/* Custom scrollbar for Firefox */
.dialogContent {
    scrollbar-width: thin; /* Options: auto | thin */
    scrollbar-color: var(--color-blue-light) var(--color-gray-200); /* thumb color and track color */
}

.nameAndCloseWrapper {
  display: flex;
  justify-content: space-between;
  
}

.closeBtn {
  background-color: var(--color-gray-50);
  width: 40px; 
  height: 40px; 
  cursor: pointer; 
    font-size: 1.25rem;
    
    cursor: pointer;
    border: none;
    border-radius: 50%;
    color: var(--color-gray-900);
}


.playerName {
  font-size: 2.5rem;
  letter-spacing: .1rem;
  text-align: center;
  /* margin: 1rem 0; */
  margin: 1rem auto;
  color: var(--color-orange-primary)
}

.infoBox {
  margin-bottom: 2rem;
  text-align: center;
  margin: .5rem 0 .5rem .5rem;
}



.breakdown {
  margin: 2rem auto;
  line-height: 1.5rem;
  font-size: 1rem;
  letter-spacing: .05rem;
  /* color: var(--color-gray-800); */
  color: var(--color-gray-800);
  max-width: 80%;
}

.tablesContainer {
    display: flex;
    flex-wrap: wrap; /* Allow tables to wrap to the next line */
    justify-content: center; /* Center the tables */
    color: var(--color-gray-700);
    font-size: .8rem;
}

.tableWrapper {
    flex: 1 1 45%; /* Allow tables to take up to 45% of the width */
    margin: 0 0.5rem; /* Add horizontal margin to create space between tables */
    text-align: center;
    justify-content: center;
    padding: .5rem;
}

@media (max-width: 700px) {
    .tableWrapper {
        flex: 1 1 100%; /* Stack tables to take full width on small screens */
        margin: 0; /* Remove margin on small screens */
    }
}

.table {
    width: 100%; /* Ensure the table takes full width */
    border-collapse: collapse; /* Collapse borders for a cleaner look */
}

.tableCell {
    padding: 1rem; /* Add padding to table cells */
    text-align: left; /* Align text to the left */
    border: 1px solid var(--color-gray-300); /* Optional: Add border for better visibility */
}

.heading {
    margin-bottom: 1rem; /* Add 1rem bottom margin to headings */
}

