.page {
  background-color: var(--color-gray-50);
  min-height: 200vh;
  padding: 20px;
  font-family: var(--font-geist-sans);
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1;
  width: 100%;
}

.titleWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}

.title {
  color: var(--color-gray-700);
  font-size: clamp(1.5rem, 5vw, 3rem);
}

.secondTitle {
  color: var(--color-gray-700);
  font-size: clamp(1.25rem, 2vw, 1.1rem);
  letter-spacing: 0.05rem;
  color: var(--color-orange-primary);
}

.starbar {
  width: 100dvw;
}

/* .clsSelectBtnsWrapper {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
  margin-bottom: 5rem;
}

.clsSelectBtn {
  margin: 0 0.5rem;
  border-radius: 20px;
  padding: .5rem 1rem;
  background-color: var(--color-orange-primary);
  color: var(--color-gray-100);
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.clsSelectBtn:hover {
  background-color: var(--color-gray-700);
  transform: scale(1.05) translateY(-.2rem);
  
}

.clsSelectBtn:active {
  
  transform: scale(1.05) translateY(.2rem);
  
} */
